<div class="container">
  <app-currency-input-select
    (currencyAmountChange)="currencyAmountChangeFirst($event)"
    [currencies]="currenciesToConvert"
    [value]="valueFirst"
  >

  </app-currency-input-select>
  =
  <app-currency-input-select
    (currencyAmountChange)="currencyAmountChangeSecond($event)"
    [currencies]="currenciesToConvert"
    [value]="valueSecond"
  >

  </app-currency-input-select>
</div>
