<div class="container">
  <h1>Currency Converter</h1>
  <ul class="list-items">
    <li class="list-item" *ngFor="let rate of exchangeRates$ | async">{{rate.currency}}:{{rate.rate}}</li>
  </ul>
</div>


