.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list-items{
  display: flex;
  list-style: none;
}
.list-item {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  color: #841414;
}
