.form-input{
  margin: 10px;
}
.input{
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 20px;
}
.select{
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  padding: 9px 0 9.5px;
  border: none;
  color: white;
  background-color: #6060e1;
}
