<div class="form-input" *ngIf="value !== null && currencies !== null">
  <input class="input" [value]="value.amount" (input)="onChangeAmount($event)"  type="number">
  <select class="select" [value]="value.currency" (change)="onChangeCurrency($event)" name="" id="" >
    <option  *ngFor="let currency of currencies"  [value]="currency" [selected]="currency === value.currency">{{currency}}</option>
  </select>
</div>

